main {
	width: 900px;
	margin: 0 auto;
	display:inline-block;
	vertical-align: middle;
}

img {
	/* 画像の底の部分を img が配置されている行ボックスの底に合わせて配置する */
	vertical-align: bottom;
	/* float: left; */
}

ul {
	/* 黒丸を取る */
	list-style: none;
	/* 余白のリセット */
	padding: 0;
	margin: 0;
}

.imgNav  {
	float: left;
	/* margin-left: 50px; */
}

#main {
	width: 491px;
	height: 589px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

nav {
	margin-bottom: 8px;
}

nav ul {
	/* 横並びにする */
	display: flex;
	/* 間をあけつつ均等に配置 */
	justify-content: space-between;
	/* float: left; */
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 50px;
	
}

nav li {
	border: 1px solid #ddd;
	/* 角を丸くする */
	border-radius: 4px;
	font-size: 12px;
	/* 余白をつける */
	padding: 4px;
	/* 文字の中央揃え */
	text-align: center;
	cursor: pointer;
	/* 連打された場合もテキストが選択されてしまわないようにする */
	user-select: none;
}

/* カーソルを乗せたときにボタンの色を変える */
nav li:hover {
	background: #f8f8f8;
}
#play {
	width: 60px;
}

#prev,
#next {
	width: 60px;
}

.thumbnailTitle {
	margin-top: 45px;
	margin-left: 50px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: monospace;
	color: rgb(99, 72, 72);
}

.thumbnails {
	display: grid;
	grid-template-columns: repeat(4, 112px);
	/* 余白 */
	gap: 10px;
	margin-left: 50px;
}

.thumbnails li {
	/* クリックできることをわかりやすくするため */
	cursor: pointer;
	/* 色を濃くする */
	opacity: 1;
}

/* サムネにカーソルをホバーしたとき、またはメインで表示されている画像に関するサムネ */
.thumbnails li:hover,
.thumbnails li.current {
	/* 色を薄くする */
	opacity: 0.4;
}
.thumbnails img {
	width: 112px;
	height: 134px;
}